.animal-cards {
  flex-direction: column;
  display: flex;
  border: 1px solid black;
  margin: 2rem 3rem;
  padding: 5rem;
}

.card {
  display: flex;
  min-height: 5em;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  text-align: center;
}

.message {
  font-size: 16px;
  padding: 2px;
  text-align: center;
  margin-right: 4px;
}
